@media (max-width: 950px) {
	.nav-container {
		height: 5em;

		nav {
			-webkit-flex-direction: column;
			flex-direction: column;

			h1 { text-align: center; }

			ul {
				-webkit-flex: 1.5;
				flex: 1.5;

				li a { line-height: 2.5em; }
			}
		}
	}


} 