@import "compass/css3/transition";
@import "compass/css3/transform";

#workflow {
	position: relative;
	margin-top: -100%;

	-webkit-animation: fallInWorkflow 1s ease-in-out 7.5s forwards;
	animation: fallInWorkflow 1s ease-in-out 7.5s forwards;

	h2 {
		font-size: 4em;
		color: $bagred;
		margin-bottom: 2em;
	}

	#workflow-container {
		display: -webkit-flex;
		display: flex;
		font-size: 1.1em;

		h3	{ 
			font-size: 1.5em;
			font-size: 2em;
			margin: 10px 0;

			color: $bagred;
		}

		p {
			font-size: 1em;
			color: $darkgrey;
		}

		#info {
			-webkit-flex: 1;
			flex: 1;

			#idea > *, #project > *, #result > * {
				margin-left: -200%;
			}

			#idea {
				h3 {
					-webkit-animation: slideIn 1s ease-in-out 10s forwards;
					animation: slideIn 1s ease-in-out 10s forwards;
				}

				div {
					width: 100%;
					height: 100px;

					-webkit-animation: slideIn 1s ease-in-out 10.3s forwards;
					animation: slideIn 1s ease-in-out 10.3s forwards;					
				}
			}

			#project {
				h3 {
					-webkit-animation: slideIn 1s ease-in-out 15.5s forwards;
					animation: slideIn 1s ease-in-out 15.5s forwards;
				}

				div {
					width: 100%;
					height: 100px;

					-webkit-animation: slideIn 1s ease-in-out 15.8s forwards;
					animation: slideIn 1s ease-in-out 15.8s forwards;					
				}
			}

			#result {
				h3 {
					-webkit-animation: slideIn 1s ease-in-out 21s forwards;
					animation: slideIn 1s ease-in-out 21s forwards;
				}

				div {
					width: 100%;
					height: 100px;

					-webkit-animation: slideIn 1s ease-in-out 21.3s forwards;
					animation: slideIn 1s ease-in-out 21.3s forwards;					
				}
			}
		}

		#display-area {
			-webkit-flex: 3;
			flex: 3;
		}
	}
}


@-webkit-keyframes fallInWorkflow {
	to {
		margin-top: 0;
	}
}

@keyframes fallInWorkflow {
	to {
		margin-top: 0;
	}
}


@-webkit-keyframes slideIn {
	to {
		margin-left: 0;
	}
}

@keyframes slideIn {
	to {
		margin-left: 0;
	}
}



#display-area {
	position: relative;
	overflow: hidden;

	.task {
		position: absolute;
		width: 90px;
		height: 45px;

		visibility: hidden;

		background-color: green;
	}

	#task1 {
		top: 90px;
		left: 40px;

		-webkit-animation: 
			zoomTaskToTodo 0.8s ease-in 12s forwards,
			moveTaskToWork 0.8s ease-in 18.3s forwards,
			moveTaskToDone 0.8s ease-in 28s forwards;
		animation: 
			zoomTaskToTodo 0.8s ease-in 12s forwards,
			moveTaskToWork 0.8s ease-in 18.3s forwards,
			moveTaskToDone 0.8s ease-in 24s forwards;
	}

	#task2 {
		top: 90px;
		left: 160px;

		-webkit-animation: 
			zoomTaskToTodo 0.8s ease-in 12.3s forwards,
			moveTaskToWork 0.8s ease-in 18s forwards;
		animation: 
			zoomTaskToTodo 0.8s ease-in 12.3s forwards,
			moveTaskToWork 0.8s ease-in 18s forwards;	
	}

	#task3 {
		top: 140px;
		left: 35px;

		-webkit-animation: 
			zoomTaskToTodo 0.8s ease-in 13.8s forwards,
			moveTaskToWork 0.8s ease-in 18.9s forwards;
		animation: 
			zoomTaskToTodo 0.8s ease-in 9.7s forwards,
			moveTaskToWork 0.8s ease-in 18.9s forwards;	
	}

	#task4 {
		top: 145px;
		left: 135px;

		-webkit-animation: 
			zoomTaskToTodo 0.8s ease-in 13.5s forwards,
			moveTaskToWork 0.8s ease-in 18.6s forwards;	
		animation: 
			zoomTaskToTodo 0.8s ease-in 9.9s forwards,
			moveTaskToWork 0.8s ease-in 18.6s forwards;	
	}

	#task5 {
		top: 195px;
		left: 145px;

		-webkit-animation: 
			zoomTaskToTodo 0.8s ease-in 13.2s forwards,
			moveTaskToWork 0.8s ease-in 19.2s forwards;	
		animation: 
			zoomTaskToTodo 0.8s ease-in 10.1s forwards,
			moveTaskToWork 0.8s ease-in 19.2s forwards;	
	}

	#task6 {
		top: 240px;
		left: 40px;

		-webkit-animation: 
			zoomTaskToTodo 0.8s ease-in 14.1s forwards,
			moveTaskToWork 0.8s ease-in 19.8s forwards;
		animation: 
			zoomTaskToTodo 0.8s ease-in 9.3s forwards,
			moveTaskToWork 0.8s ease-in 19.8s forwards;		
	}

	#task7 {
		top: 247px;
		left: 160px;

		-webkit-animation: 
			zoomTaskToTodo 0.8s ease-in 12.6s forwards,
			moveTaskToWork 0.8s ease-in 19.5s forwards;
		animation: 
			zoomTaskToTodo 0.8s ease-in 12.6s forwards,
			moveTaskToWork 0.8s ease-in 19.5s forwards;	
	}

	#task8 {
		top: 295px;
		left: 35px;

		-webkit-animation: 
			zoomTaskToTodo 0.8s ease-in 14.4s forwards,
			moveTaskToWork 0.8s ease-in 20.4s forwards;	
		animation: 
			zoomTaskToTodo 0.8s ease-in 9.7s forwards,
			moveTaskToWork 0.8s ease-in 20.4s forwards;		
	}

	#task9 {
		top: 315px;
		left: 135px;

		-webkit-animation: 
			zoomTaskToTodo 0.8s ease-in 12.9s forwards,
			moveTaskToWork 0.8s ease-in 20.1s forwards;	
		animation:
			zoomTaskToTodo 0.8s ease-in 12.9s forwards,
			moveTaskToWork 0.8s ease-in 20.1s forwards;	
	}

	#scrumboard {
		display: -webkit-flex;
		display: flex;
		width: 100%;
		height: 420px;
		padding: 0 40px 0 20px;

		-webkit-flex-flow: column;
	           flex-flow: column;

       	opacity: 0;
		-webkit-animation: zoomIn 0.5s ease-in 9.5s forwards;
		animation: zoomIn 0.5s ease-in 9.5s forwards;

		header {
			-webkit-flex: 0.5;
			flex: 0.5;

			border: 1px solid black;
		}

		footer {
			display: -webkit-flex;
			display: flex;

			-webkit-flex: 5;
			flex: 5;

			#todo, #inwork, #done {
				-webkit-flex: 1;
				flex: 1;


				border: 1px solid black;
			}
		}
	}
}

@-webkit-keyframes zoomIn {
	to {
		opacity: 1;
	}
}

@keyframes zoomIn {
	to {
		opacity: 1;
	}
}

@-webkit-keyframes zoomTaskToTodo {
	from {
		left: 150%;
		@include scale(5);
	}
	to {
		visibility: visible;
		@include scale(1);
	}
}

@keyframes zoomTaskToTodo {
	from {
		left: 150%;
		@include scale(3);
	}
	to {
		visibility: visible;
		@include scale(1);
	}
}

@-webkit-keyframes moveTaskToWork {
	to {
		margin-left: 280px; 
	}
}

@keyframes moveTaskToWork {
	to {
		margin-left: 280px;
	}
}


@-webkit-keyframes moveTaskToDone {
	from {
		margin-left: 280px; 
	}
	to {
		margin-left: 560px; 
	}
}

@keyframes moveTaskToDone {
	from {
		margin-left: 280px; 
	}
	to {
		margin-left: 560px;
	}
}