@import "compass/reset";
@import "compass/css3/box-sizing";

@import "shared";
@import "topnav";

@import "screen-max950";


$containerHeight: 700px;


* { @include box-sizing("border-box"); }


body { font-family: Verdana, Geneva, sans-serif; }

h1, h2, h3, h4, h5, h6 { font-family: Georgia, Times, "Times New Roman", serif; }



#header {
	min-height: $containerHeight;


	background-image: url('../images/schulung.jpg');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;

	header { 
		@include centered;

		p {
			font-size: 300%;
			text-align: center;
			color: #fff;
		}
	}
}


.container { 
	background-color: #fff; 
	&.dark { background-color: $darkgrey; }

	section {
		@include centered;	
		min-height: $containerHeight;

		h2 {
			font-size: 200%;
			color: #000;
		}
	}

	footer {
		@include centered;		
		min-height: 1em;

		p { line-height: 1em;}
	}
}