//http://tympanus.net/Tutorials/CSS3RotatingWords/index5.html
//http://tympanus.net/codrops/2011/12/07/splash-and-coming-soon-page-effects-with-css3/

@import "compass/reset";
@import "compass/css3/box-sizing";

@import "shared";
@import "topnav";

@import "home";
@import "ueberlabs";
@import "ziele";

@import "screen-max950";



* { @include box-sizing("border-box"); }


body { 
	font-family: Verdana, Geneva, sans-serif; 
	color: $darkgrey; 
}

h1, h2, h3, h4, h5, h6 { 
	font-family: Georgia, Times, "Times New Roman", serif; 
	color: $darkgrey;
}

p {
	font-size: 1.2em;
	line-height: 1.4em;
}


.container { 
	background-color: #fff; 
	&.dark { background-color: $darkgrey; }

	section {
		@include centered;
		padding: 200px 20px 100px 20px;	
		min-height: $containerHeight;

		text-align: center;

		h2 {
			margin: 1em 0;
			font-size: 250%;
		}
	}

	footer {
		@include centered;		
		min-height: 1em;

		p { line-height: 1em;}
	}
}