.container > section {
	& > h2 { -skrollr-animation-name:title; }
	& > div { -skrollr-animation-name:container; }
}



@-skrollr-keyframes title {
	bottom {
		transform: translateX(100%) rotate(-90deg); 
		opacity: 0;
	}

	-100-center-center {
		transform: translateX(0) rotate(0);
		opacity: 1;
	}
}

@-skrollr-keyframes container {
	bottom {
		opacity: 0;
	}

	-0-center-center {
		opacity: 1;
	}
}