@import "compass/css3/transform";

@import "shared";
@import "circlehover-grid";


#labs section {

}

.split-container {
	display: -webkit-flex;
	display: flex;

	.first {
		-webkit-flex: 1.5;
		flex: 1.5;
	}

	.second {
		-webkit-flex: 1;
		flex: 1;
	}

	.ch-grid li:first-child {
		@include translate(100px, -200px);
	}
}