lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sublime-project
*.sublime-workspace

pids
logs
results
node_modules
components
dist
.sass-cache
css

npm-debug.log
seminar-responseweb-fabianraetz.zip
deploy.bat
images/sprite-*.png