@import "controls/contentnavigator";

@media (max-width: 650px) {
	.cn-slide nav a {
		line-height: 1.5em;
	}

	.cn-slide-sub nav a {
		font-size: 1.5em;
	}

	.cn-content p {
		line-height: 1.1em;
		padding: 5px 8px;
	}
}